@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Aref Ruqaa Ink', serif;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0px auto;
  box-sizing: border-box;

  @media (max-width: 1023.99px) {
    padding: 0 20px;
  }
}
